
{% extends "extends/main.html" %}

{% block formsearch %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" href="/dashboard">Search VUE</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="" method="POST">
          <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="checkbox" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"><span class="text">subdomains off/on </span></label>
          </div>		
                  
          <input class="form-control mr-sm-2" type="search" aria-label="Search" id="domainsea" name="domainsea" placeholder="Search domain.com">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>


<div class="jumbotron">
	<h1 class="display-4">Tools Bugs Hunters</h1>
	<p class="lead">This is a simple tool to save data of personal interest for bug hunting.</p>
	<hr class="my-4">
	<div class="alert alert-danger" role="alert">
		<p>Caution when listing, shows everything in one page.</p>
	</div>
	<p><b>Url number: {{ nu }}</b></p>
	<a class="btn btn-primary btn-lg" href="#" role="button">More Info</a>
</div>


<div class="row">
    {% for i in durl.values() %}    
    <div class="col-sm-6">
    <div class="card" style="width: auto;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29" fill="black" width="28px" height="28px"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 8h-2.81c-.45-.78-1.07-1.45-1.82-1.96L17 4.41 15.59 3l-2.17 2.17C12.96 5.06 12.49 5 12 5c-.49 0-.96.06-1.41.17L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8zm-6 8h-4v-2h4v2zm0-4h-4v-2h4v2z"/></svg>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{ i.url }}</p>
            <a href="{{i.url}}" class="btn btn-primary">OpenURL</a>
        </div>
        </div>
        </div>
    {% endfor %}
</div>

{%endblock%}